/* Estilos para o dia atual */
.calendar .rbc-today {
    background-color: transparent !important; 
    border: solid 2px #04ff00 ;
  }
  .calendar .rbc-show-more {
    color: #04ff00 !important;
    background-color: transparent;
  }
  /* Estilos para os botões de navegação */
  .calendar .rbc-toolbar button {
    background-color: transparent; /* Fundo transparente */
    border: 1px solid gray; /* Sem borda */
    color: inherit; /* Herda a cor do texto atual */
    padding: 5px 10px; /* Espaçamento interno */
    cursor: pointer; /* Cursor de ponteiro */
    transition: background-color 0.3s; /* Transição suave */
  }
  
  .calendar .rbc-toolbar button:hover {
    background-color: #cccccc; /* Cor de fundo ao passar o mouse */
  }
  
  .calendar.rbc-toolbar button {
    color: #cdcdcd; /* Texto preto no modo claro */
  }
  
  /* Estilização para o popup */
 .rbc-overlay {
    background-color: #cdcdcd !important; /* Fundo branco no modo claro */
    color: #222222 !important; /* Texto preto no modo claro */
    border: 1px solid #dddddd; /* Borda clara */
  }